<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDigitalAssetLabel" jhiTranslate="amensystemApp.digitalAsset.home.createOrEditLabel">Create or edit a Digital Asset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!digitalAsset.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="digitalAsset.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="digitalAsset.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="digitalAsset.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="digitalAsset.url"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.resource" for="field_resource">Resource</label>
            <div>
                <div *ngIf="digitalAsset.resource" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(digitalAsset.resourceContentType, digitalAsset.resource)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{digitalAsset.resourceContentType}}, {{byteSize(digitalAsset.resource)}}</span>
                    <button type="button" (click)="digitalAsset.resource=null;digitalAsset.resourceContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_resource" (change)="setFileData($event, digitalAsset, 'resource', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="resource" id="field_resource"
                [(ngModel)]="digitalAsset.resource"  />
            <input type="hidden" class="form-control" name="resourceContentType" id="field_resourceContentType"
                [(ngModel)]="digitalAsset.resourceContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="digitalAsset.type"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="digitalAsset.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.modifiedDate" for="field_modifiedDate">Modified Date</label>
            <div class="d-flex">
                <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" [(ngModel)]="digitalAsset.modifiedDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="digitalAsset.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.digitalAsset.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="digitalAsset.lastModifiedBy"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
