<div>
    <h2>
        <span jhiTranslate="amensystemApp.digitalAsset.home.title">Digital Assets</span>
        <button class="btn btn-primary float-right jh-create-entity create-digital-asset" [routerLink]="['/', { outlets: { popup: ['digital-asset-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="amensystemApp.digitalAsset.home.createLabel">
            Create new Digital Asset
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="digitalAssets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.name">Name</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.description">Description</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.url">Url</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.resource">Resource</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.type">Type</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.createdDate">Created Date</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.modifiedDate">Modified Date</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.createdBy">Created By</span></th>
            <th><span jhiTranslate="amensystemApp.digitalAsset.lastModifiedBy">Last Modified By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let digitalAsset of digitalAssets ;trackBy: trackId">
                <td><a [routerLink]="['../digital-asset', digitalAsset.id ]">{{digitalAsset.id}}</a></td>
                <td>{{digitalAsset.name}}</td>
                <td>{{digitalAsset.description}}</td>
                <td>{{digitalAsset.url}}</td>
                <td>
                    <a *ngIf="digitalAsset.resource" (click)="openFile(digitalAsset.resourceContentType, digitalAsset.resource)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="digitalAsset.resource">{{digitalAsset.resourceContentType}}, {{byteSize(digitalAsset.resource)}}</span>
                </td>
                <td>{{digitalAsset.type}}</td>
                <td>{{digitalAsset.createdDate | date:'medium'}}</td>
                <td>{{digitalAsset.modifiedDate | date:'medium'}}</td>
                <td>{{digitalAsset.createdBy}}</td>
                <td>{{digitalAsset.lastModifiedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../digital-asset', digitalAsset.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'digital-asset/'+ digitalAsset.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'digital-asset/'+ digitalAsset.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
