<header class="mt-1">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="carousel-item active" style="background-image: url('../../slides/shop/IMG_8902.JPG')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Experience</h3>
                    <p>Experience shopping service.</p>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-item active" style="background-image: url('../../slides/shop/IMG_8897.JPG')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Amen supermarket</h3>
                    <p>A welcome to every customer.</p>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-item active" style="background-image: url('../../slides/shop/IMG_8930.JPG')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Beans &amp; Gari</h3>
                    <p>Sampling Gari and Beans products.</p>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="carousel-item active" style="background-image: url('../../slides/shop/IMG_8827.JPG')">
                <div class="carousel-caption d-none d-md-block">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="carousel-item active" style="background-image: url('../../slides/shop/IMG_8881.JPG')">
                <div class="carousel-caption d-none d-md-block">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </ng-template>
        <!--
        <ng-template ngbSlide>
            <div class="carousel-item active" style="background-image: url('https://lorempixel.com/900/500?r=1')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>
                </div>
            </div>
        </ng-template>
        -->
    </ngb-carousel>
</header>
<div class="mt-1 bg-hamper">
    <div class="row">
        <div class="col-md-3">
            <span class="hamper"></span>
        </div>
        <div class="col-md-6">
            <span class="mt-2 campaign">
                    </span>
            <h3 class="font-cond-b  lts-sm">
                Send your recipies to office@amen-supermarket.at<br> Or drop it at the counter with your next visit.
            </h3>
        </div>
        <div class="col-md-3">
            <span class="hamper-de"></span>
        </div>
    </div>

</div>
<!-- Start #food -->
<div id="food" class="block bg-white border-b" data-edit="false">
    <!-- Container -->
    <div class="container container-main auto-invert pady-block-lg">
        <!-- Title -->
        <div class="section-title auto-invert line-b align-center">
            <h2 class="font-cond-b fg-text-d lts-sm">A Variety of Food &amp; Drinks</h2>
            <p class="font-cond-l fg-text lts-sm ">
                Fresh harvested, neatly packaged and made just for you.
            </p>
        </div>
        <!-- /Title -->
        <!-- Tabled Row -->
        <div class="row row-table">
            <!-- Col -->
            <div class="col-sm-3 v-middle">
                <!-- Feature -->
                <div class="hfeature align-center mgb-60">
                    <div class="media-cell">
                        <img src="../../content/slides/main/beans.jpg" class="icon-round icon-outline-thick product-cell" />
                    </div>
                    <div class="text-cell">
                        <h4 class="case-u font-cond-b lts-sm mgb-sm fg-text-d">Beans</h4>
                        <p class="font-cond-l fs-90 fg-text">
                            Beans are a super healthy, versatile and affordable food.<br>High in antioxidants, fiber, protein, B vitamins, iron, magnesium, potassium, copper and zinc.
                        </p>
                    </div>
                </div>
                <!-- /Feature -->
                <!-- Feature -->
                <div class="hfeature align-center mgb-60">
                    <div class="media-cell">
                        <img src="../../content/slides/main/cereals.jpg" class="icon-round icon-outline-thick product-cell" />
                    </div>
                    <div class="text-cell">
                        <h4 class="case-u font-cond-b lts-sm mgb-sm fg-text-d">Cereals</h4>
                        <p class="font-cond-l fs-90 fg-text">
                            Belonging to the complex carbohydrates food group, cereals are rich sources of minerals, vitamins, carbohydrates, oils, proteins, and fats.
                        </p>
                    </div>
                </div>
                <!-- /Feature -->
                <!-- Feature -->
                <div class="hfeature align-center mgb-60">
                    <div class="media-cell">
                        <img src="../../content/slides/main/grains.jpg" class="icon-round icon-outline-thick product-cell" />
                    </div>
                    <div class="text-cell">
                        <h4 class="case-u font-cond-b lts-sm mgb-sm fg-text-d">Grains</h4>
                        <p class="font-cond-l fs-90 fg-text">
                            Dietary fiber from whole grains, as part of an overall healthy diet, helps reduce blood cholesterol levels and may lower risk of heart disease.
                        </p>
                    </div>
                </div>
                <!-- /Feature -->
            </div>
            <!-- /Col -->

            <!-- Col -->
            <div class="col-sm-3 v-middle">
                <!-- Feature -->
                <div class="hfeature align-center mgb-60">
                    <div class="media-cell">
                        <img src="../../content/slides/main/fishes.jpg" class="icon-round icon-outline-thick product-cell" />
                    </div>
                    <div class="text-cell">
                        <h4 class="case-u font-cond-b lts-sm mgb-sm fg-text-d">Fish</h4>
                        <p class="font-cond-l fs-90 fg-text">
                            It is loaded with important nutrients, such as protein and vitamin D. Fish is also the world's best source of omega-3 fatty acids, which are incredibly important for your body and brain.
                        </p>
                    </div>
                </div>
                <!-- /Feature -->
                <!-- Feature -->
                <div class="hfeature align-center mgb-60">
                    <div class="media-cell">
                        <img src="../../content/slides/main/leaves.jpg" class="icon-round icon-outline-thick product-cell" />
                    </div>
                    <div class="text-cell">
                        <h4 class="case-u font-cond-b lts-sm mgb-sm fg-text-d">Plant leaves</h4>
                        <p class="font-cond-l fs-90 fg-text">
                            Bitter leaf (Vernonia amygdalina), a bitter plant whose leaves, extracts, stems and barks are used for culinary,medicinal and curative purposes.
                            <br> Vitamins: A, C, E, B1 B2.
                        </p>
                    </div>
                </div>
                <!-- /Feature -->
                <!-- Feature -->
                <div class="hfeature align-center mgb-60">
                    <div class="media-cell">
                        <img src="../../content/slides/main/drinks.jpg" class="icon-round icon-outline-thick product-cell" />
                    </div>
                    <div class="text-cell">
                        <h4 class="case-u font-cond-b lts-sm mgb-sm fg-text-d">Beverages</h4>
                        <p class="font-cond-l fs-90 fg-text">
                            A variety of teas like moringa, hibiscus, rooibos etc...<br> Coffee, Fruit juices like mango, guava, pineapple, blackcurrant.
                            <br>Assorted alcoholics like Guiness, Gulder, Star, Harp etc...
                        </p>
                    </div>
                </div>
                <!-- /Feature -->
            </div>
            <!-- /Col -->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
<!-- /End #food -->