<!-- Start #cloths -->
<div id="category" class="container-fluid bg-white" *ngIf="category">
    <!-- Container -->
    <div class="container container-main auto-invert pady-block-lg">
        <!-- Title -->
        <div class="section-title auto-invert line-b align-center">
            <h2 class="font-cond-b fg-text-d lts-sm">{{ category.name }}</h2>
            <p class="font-cond-l lts-sm fg-text">
                {{ category.description }}
            </p>
        </div>
        <!-- /Title -->
        <div class="card-group">
            <div class="card align-center bd-all bdc-green bdw-3 mt-1" *ngFor="let product of products ;trackBy: trackId">
                <div class="card-header">
                    <h4 class="card-title font-cond-b case-u fg-text-d">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <img [src]="'data:' + product.photoContentType + ';base64,' + product.photo" class="card-img" alt="product.name" />
                </div>
                <div class="card-footer">
                    <h4 class="text-muted" *ngIf="product.price">&euro;{{product.price}}<span *ngIf="product.quantity">/{{product.quantity}}</span></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /Container -->
</div>