<!--
<div id="footer" class="footer mt-5">
    <div class="row">
        <div class="col-md-4 hidden-sm">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-5">
                    <a class="logo" routerLink="/">
                        <span class="logo-img"></span>
                    </a>
                </div>
                <div class="col-md-7">
                    <h5>www.amen-supermarket.at</h5>
                    <p class="text-center">
                        office@amen-supermarket.at<br/> Penersdorfergasse 34<br/> 1100 Wien
                        <br/> Phone: +43-1-974-0631<br/> Mobile: +43-676-726-3302
                    </p>
                    <ul id="social-links" class="hlinks hlinks-icons color-icons-bg-hovered s-200">
                        <li><a href="#" class="btn-outline-default auto-invert"><i class="fa-twitter"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert"><i class="fa-facebook"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert"><i class="fa-google-plus"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert"><i class="fa-youtube"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert"><i class="fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<p>&nbsp;</p>
-->
<div class="bg-dark-red">
    <p>&nbsp;</p>
    <div id="footer" class="block bg-dark-green inverse-all" data-edit="false">
        <!-- Container -->
        <div class="container auto-invert pady-60">
            <!-- Row -->
            <div class="row row-table bdb-all pady-30-all-xs align-center-xs">
                <!-- Col -->
                <div class="col-sm-3 align-center col-vmid bd-b-xs">
                    <a class="fg-text-d font-cond-b lts-md fs-250 lyt-block logo" href="#home" data-edit="false" data-editor="field" data-field="href[Brand Link]">
                        <span class="logo-img"></span>
                    </a>
                </div>
                <!-- Col -->
                <!-- Col -->
                <div class="col-sm-6 col-vtop bd-b-xs">
                    <h5 class="fg-text-d font-cond lts-md mgb-10 case-u">www.amen-supermarket.at</h5>
                    <p class="fg-text-l font-cond-l" contenteditable="false">
                        office@amen-supermarket.at<br/> Pernerstorfergasse 24<br/> 1100 Wien
                        <br/> Phone: +43-1-974-0631<br/> Mobile: +43-676-726-3302
                    </p>
                    <ul id="social-links" class="hlinks hlinks-icons color-icons-bg-hovered s-200" data-icon-title="true" data-menu-attr="class='btn-outline-default auto-invert' data-editor='menu' data-edit='true'">
                        <li><a href="#" class="btn-outline-default auto-invert" data-edit="false" data-editor="menu"><i class="fa-twitter"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert" data-edit="false" data-editor="menu"><i class="fa-facebook"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert" data-edit="false" data-editor="menu"><i class="fa-google-plus"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert" data-edit="false" data-editor="menu"><i class="fa-youtube"></i></a></li>
                        <li><a href="#" class="btn-outline-default auto-invert" data-edit="false" data-editor="menu"><i class="fa-rss"></i></a></li>
                    </ul>
                    <a class="fg-red" href="#contact" data-hidden="true" data-editor="menu-new" data-menu="#social-links">+ New Link</a>
                </div>
                <!-- Col -->
                <!-- Col -->
                <div class="col-sm-3 col-vtop">
                    <!--
                            <h5 class="fg-text-d font-cond lts-md mgb-20 case-u">Get Our Newsletter</h5>
                            <form class="form-controls-lg">
                                <input class="form-control mgb-15" placeholder="Enter Email Address">
                                <button class="btn bg-dark-red btn-block font-cond-l case-u lts-sm">subscribe</button>
                            </form>
                            -->
                </div>
                <!-- Col -->
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </div>

    <p>&nbsp;</p>
</div>