<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="slide">
            <h2><span jhiTranslate="amensystemApp.slide.detail.title">Slide</span> {{ slide.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="amensystemApp.slide.url">Url</span></dt>
                <dd>
                    <span>{{ slide.url }}</span>
                </dd>
                <dt><span jhiTranslate="amensystemApp.slide.title">Title</span></dt>
                <dd>
                    <span>{{ slide.title }}</span>
                </dd>
                <dt><span jhiTranslate="amensystemApp.slide.description">Description</span></dt>
                <dd>
                    <span>{{ slide.description }}</span>
                </dd>
                <dt><span jhiTranslate="amensystemApp.slide.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="slide.photo">
                        <a (click)="openFile(slide.photoContentType, slide.photo)">
                            <img [src]="'data:' + slide.photoContentType + ';base64,' + slide.photo" style="max-width: 100%;" alt="slide image"/>
                        </a>
                        {{ slide.photoContentType }}, {{ byteSize(slide.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="amensystemApp.slide.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ slide.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="amensystemApp.slide.modifiedDate">Modified Date</span></dt>
                <dd>
                    <span>{{ slide.modifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="amensystemApp.slide.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ slide.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="amensystemApp.slide.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{ slide.modifiedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/slide', slide.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
