
<div *ngIf="slideShow">
    <h2><span jhiTranslate="amensystemApp.slideShow.detail.title">Slide Show</span> {{slideShow.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="amensystemApp.slideShow.name">Name</span></dt>
        <dd>
            <span>{{slideShow.name}}</span>
        </dd>
        <dt><span jhiTranslate="amensystemApp.slideShow.slides">Slides</span></dt>
        <dd>
            <span>{{slideShow.slides}}</span>
        </dd>
        <dt><span jhiTranslate="amensystemApp.slideShow.createdDate">Created Date</span></dt>
        <dd>
            <span>{{slideShow.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="amensystemApp.slideShow.modifiedDate">Modified Date</span></dt>
        <dd>
            <span>{{slideShow.modifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="amensystemApp.slideShow.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{slideShow.lastModifiedBy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'slide-show/'+ slideShow.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
