<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductLabel" jhiTranslate="amensystemApp.product.home.createOrEditLabel">Create or edit a Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--
        <div class="form-group" [hidden]="!product.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        -->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="product.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.quantity" for="field_quantity">Quantity</label>
            <input type="text" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="product.quantity"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="product.price"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.photo" for="field_photo">Photo</label>
            <div>
                <img [src]="'data:' + product.photoContentType + ';base64,' + product.photo" style="max-height: 100px;" *ngIf="product.photo" alt="product image"/>
                <div *ngIf="product.photo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{product.photoContentType}}, {{byteSize(product.photo)}}</span>
                    <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_photo" (change)="setFileData($event, product, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                [(ngModel)]="product.photo"  />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                [(ngModel)]="product.photoContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.category" for="field_category">Category</label>
            <!--
            <input type="text" class="form-control" name="category" id="field_category"
                [(ngModel)]="product.category"  />
                -->
            <select type="single" class="form-control" name="category" id="field_category" [(ngModel)]="product.category">
                <option *ngFor="let category of categories" [value]="category" class="">
                    {{category}}
                </option>
            </select>
        </div>
        <!--
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="product.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.modifiedDate" for="field_modifiedDate">Modified Date</label>
            <div class="d-flex">
                <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" [(ngModel)]="product.modifiedDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="amensystemApp.product.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="product.lastModifiedBy"  />
        </div>
        -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
